# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
.pytest_cache/
.ruff_cache/

# DB
*.db
*.db-journal
*.sqlite

# IDE / build
out/
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/shelf/

# OS
.DS_Store
